//Colors
$color_grey: #F6F3F3;
$color_white: #FFFFFF;
$color_balck: #242424;
$color_red: #C52525;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');
//  font-family: "Roboto Flex", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
// font-family: "Righteous", sans-serif;