@use '../../style/globals.scss';

.navStyle {
    background-color: globals.$color_white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    padding: 0 5%;

    >div {
        display: flex;
    }

    .navModal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #ffffff77;

        ul {
            position: absolute;
            top: 0;
            width: 100%;
            height: fit-content;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            padding: 1rem 0;
            gap: 5px;
        }
    }

    .modalHidden {
        display: none;
    }

    h4 {
        a {
            color: globals.$color_red;
            padding-right: 10px;
            font-family: "Righteous", sans-serif;
            font-weight: 400;
            font-size: 25px;
        }
    }

    img {
        display: block;
        object-fit: cover;
        width: 20px;
        height: 20px;

    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        gap: 5px;




        span {
            height: 20px;
            font-size: 15px;
            font-weight: 200;
        }

        li {
            list-style: none;


            a {
                text-decoration: none;
                color: black;
                font-size: 15px;
                font-weight: 200;
            }
        }


    }
}

@media (max-width: 800px) {
    .navStyle {
        ul {
            display: none;
        }
    }
}